# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
df1 = pd.read_csv('../../../../dataptmad1121_lessons/module-2/datasets/Admission_Predict.csv')
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         385 non-null    int64
 1   GRE Score          385 non-null    int64
 2   TOEFL Score        385 non-null    int64
 3   University Rating  385 non-null    int64
 4   SOP                385 non-null    float64
 5   LOR                385 non-null    float64
 6   CGPA               385 non-null    float64
 7   Research           385 non-null    int64
 8   Chance of Admit    385 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 27.2 KB

In [3]:
df1.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [4]:
# your code here
#He probado con el método strip, pero solo admite valores de string, si tuviera espacios no los identificaría como 
#números enteros o decimales
df1.columns = df1.columns.str.rstrip()
df1

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Let's evaluate the dataset by looking at the `head` function.

In [5]:
# your code here
df1.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [6]:
# your code here
df1.info() #Como se puede ver no hay valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         385 non-null    int64
 1   GRE Score          385 non-null    int64
 2   TOEFL Score        385 non-null    int64
 3   University Rating  385 non-null    int64
 4   SOP                385 non-null    float64
 5   LOR                385 non-null    float64
 6   CGPA               385 non-null    float64
 7   Research           385 non-null    int64
 8   Chance of Admit    385 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 27.2 KB

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [7]:
# your code here
pt = df1.pivot_table(index = ["Serial No."])
pt

,CGPA,Chance of Admit,GRE Score,LOR,Research,SOP,TOEFL Score,University Rating
Serial No.,,,,,,,,
1,9.65,0.92,337,4.5,1,4.5,118,4
2,8.00,0.72,316,3.5,1,3.0,104,3
3,8.67,0.80,322,2.5,1,3.5,110,3
4,8.21,0.65,314,3.0,0,2.0,103,2
5,9.34,0.90,330,3.0,1,4.5,115,5
...,...,...,...,...,...,...,...,...
381,9.04,0.82,324,3.5,1,3.5,110,3
382,9.11,0.84,325,3.5,1,3.0,107,3
383,9.45,0.91,330,4.5,1,5.0,116,4
384,8.78,0.67,312,4.0,0,3.5,103,3
385,9.66,0.95,333,4.0,1,5.0,117,4

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [8]:
# your code here
print(pt["GRE Score"].nunique()) #Se ve que no tienen 385 valores únicos por lo que no identifican los datos de forma única
print(pt["CGPA"].nunique())
pt.head()

49
168

,CGPA,Chance of Admit,GRE Score,LOR,Research,SOP,TOEFL Score,University Rating
Serial No.,,,,,,,,
1,9.65,0.92,337,4.5,1,4.5,118,4
2,8.00,0.72,316,3.5,1,3.0,104,3
3,8.67,0.80,322,2.5,1,3.5,110,3
4,8.21,0.65,314,3.0,0,2.0,103,2
5,9.34,0.90,330,3.0,1,4.5,115,5

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [9]:
df1.set_index(['GRE Score', 'CGPA'], inplace=True)
df1.head()

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [10]:
# your code here
df1.reset_index(inplace = True)
df1.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [11]:
# your code here
df = pt.eval("CGPA > 9")
df.value_counts() #Sabemos que hay 110 filas con un valor de CGPA mayor que 9

False    275
True     110
dtype: int64

In [12]:
pt.query("CGPA > 9 & Research == 1") #Lo que me ha costado llegar aquí.....101 filas cumplen las dos condiciones

,CGPA,Chance of Admit,GRE Score,LOR,Research,SOP,TOEFL Score,University Rating
Serial No.,,,,,,,,
1,9.65,0.92,337,4.5,1,4.5,118,4
5,9.34,0.90,330,3.0,1,4.5,115,5
11,9.10,0.78,328,4.5,1,4.0,112,4
20,9.50,0.94,328,5.0,1,5.0,116,5
21,9.70,0.95,334,4.5,1,5.0,119,5
...,...,...,...,...,...,...,...,...
380,9.23,0.89,329,4.0,1,4.5,111,4
381,9.04,0.82,324,3.5,1,3.5,110,3
382,9.11,0.84,325,3.5,1,3.0,107,3
383,9.45,0.91,330,4.5,1,5.0,116,4
385,9.66,0.95,333,4.0,1,5.0,117,4

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [13]:
# your code here
df_sop = pt.query("CGPA > 9 & SOP < 3.5")
df_sop #El mean chance of admit se ve en dicha columna

,CGPA,Chance of Admit,GRE Score,LOR,Research,SOP,TOEFL Score,University Rating
Serial No.,,,,,,,,
29,9.40,0.91,338,4.5,1,3.0,118,4
63,9.02,0.61,327,3.0,0,3.0,114,3
141,9.11,0.83,326,3.0,1,3.0,114,3
218,9.01,0.82,324,3.0,1,3.0,111,4
382,9.11,0.84,325,3.5,1,3.0,107,3

In [14]:
mean_df = df_sop["Chance of Admit"].mean() #Aquí me he dado cuenta de que tenía un espacio en blanco...Y lo he eliminado arriba
mean_df

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [15]:
def standardize_CGPA(col):
    media = np.mean(col)#calculo la media
    std = np.std(col)#calculo la desviación estándar
    lst = []#creo una lista vacía para ir metiendo los valores del loop
    for i in col:#creo el loop para recorrer todos los valores de la columna, restarles las media y dividirlo por la std
        a = (i - media)/std
        lst.append(a)
    df1['CGPA_std'] = lst #añado la lista obtenida como una columna al dataframe
    return(df1)
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
def standardize_GRE(col):
    media = np.mean(col)#calculo la media
    std = np.std(col)#calculo la desviación estándar
    lst = []#creo una lista vacía para ir metiendo los valores del loop
    for i in col:#creo el loop para recorrer todos los valores de la columna, restarles las media y dividirlo por la std
        a = (i - media)/std
        lst.append(a)
    df1['GRE_std'] = lst #añado la lista obtenida como una columna al dataframe
    return(df1)

def standardize_LOR(col):
    media = np.mean(col)#calculo la media
    std = np.std(col)#calculo la desviación estándar
    lst = []#creo una lista vacía para ir metiendo los valores del loop
    for i in col:#creo el loop para recorrer todos los valores de la columna, restarles las media y dividirlo por la std
        a = (i - media)/std
        lst.append(a)
    df1['LOR_std'] = lst #añado la lista obtenida como una columna al dataframe
    return(df1)

In [16]:
standardize_CGPA(df1["CGPA"])
standardize_GRE(df1["GRE Score"])
standardize_LOR(df1["LOR"])

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019

In [17]:
df1

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019

### Esto son pruebas que estoy haciendo ###

In [18]:
#sacar la media de cada una de las columnas:
mean_CGPA = df1["CGPA"].std()
#mean_GREScore = df1["GRE Score"].mean()
#mean_LOR = df1["LOR"].mean()
#print(mean_CGPA, mean_GREScore, mean_LOR)
mean_CGPA

0.6023853232371412

In [19]:
#Sacar la desviación standard de una columna
std_CGPA = df1["CGPA"].std()
std_GREScore = df1["GRE Score"].std()
std_LOR = df1["LOR"].std()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [20]:
# your code here
df1

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [21]:
# Libraries
from random import choices

In [22]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=df1.shape[0])
print(len(decision_choice))

385

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [23]:
# your code here
deciding_column = df1.lookup(df1.index, decision_choice)
print(len(deciding_column))
df1["deciding_column"] = deciding_column
df1

385

C:\Users\34699\anaconda3\envs\ironhack\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.992501
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,0.076840
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,0.076840
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,1.149292
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,0.304036
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,0.635019

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [24]:
# your code here
for i in df1["deciding_column"]:
    lst_2 = []
    if i > 0.8:
        lst_2.append(1)
    else:
        lst_2.append(0)
df1["decision"] = lst_2

ValueError: Length of values (1) does not match length of index (385)

In [25]:
lst2 = df1.eval("deciding_column > 0.8")
#print(lst2)
lst3 = []
for i in lst2:
    if i == True:
        lst3.append(1)
    else:
        lst3.append(0)
df1["decision"] = lst3
df1.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.992501,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [26]:
# your code here
df1["decision"].value_counts()

0    299
1     86
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# your code here

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here